*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-image:url(img/1.jpg);
}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.svg-icon{
 fill: blue;
 width: 48px;
 stroke: blue;
 stroke-width: 0.2px;   
}
.icon{
    fill: white;
    width: 48px;
}
.icon:nth-child(1)