*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    list-style: none;
    border: 1px solid gray;
}
.list li{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    position: relative;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: grid;
    
}
.list li:nth-child(6n){
    border-right: 0;
}
.list li:nth-child(n+13){
    border-right: 0;
}
.overlay{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay span:hover{
    text-decoration: underline;
    font-weight: bold;
}
.list li:hover .overlay{
    opacity: 1;
}
.overlay span{
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
}
.overlay span:first-child{
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid hwb(0 100% 0%);
}
