*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/3214992/pexels-photo-3214992.jpeg?auto=compress&cs=tinysrgb&w=1600);
    align-items: center;
    justify-content: center;
}
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto;
}
.circle{
    width: 20px;
    height: 40px;
    border: 1px solid black;
    border-radius: 2rem;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-name: morph;
    
}
@keyframes morph{
    0%{
        width: 20PX;
        height: 20PX;
        border-radius: 50%;
        transform: translate(0);
        background-color: black;
    }
    100%{
        width: 20PX;
        height: 20PX;
        border-radius: 100%;
        transform: translateY(20px);
    }
}
